<section class="horizon">
	<div class="container">
		<h2 class="horizon__title">Carousel-slider</h2>

		<div class="slider slider--carousel" data-module="slider" data-transition="false" data-speed="1000">
			<div class="slider__items" data-role="slider-list">

				<div class="slider__slide current" data-role="slider-slide">

					<article class="slider__item box box--overlay">
						<figure class="box__figure">
							<img src="http://unsplash.it/600/600?gravity=center" class="cover-img " alt="title" />
						</figure>
						<div class="box__body">
							<a href="#" class="ghost-link"></a>
							<h6 class="box__title">
								<a href="#" title="title">Colegio 1</a>
							</h6>
						</div>
					</article>
					<article class="slider__item box box--overlay">
						<figure class="box__figure">
							<img src="http://unsplash.it/600/600?gravity=south" class="cover-img " alt="title" />
						</figure>
						<div class="box__body">
							<a href="#" class="ghost-link"></a>
							<h6 class="box__title">
								<a href="#" title="title">Colegio 1</a>
							</h6>
						</div>
					</article>
					<article class="slider__item box box--overlay">
						<figure class="box__figure">
							<img src="http://unsplash.it/600/600?gravity=north" class="cover-img " alt="title" />
						</figure>
						<div class="box__body">
							<a href="#" class="ghost-link"></a>
							<h6 class="box__title">
								<a href="#" title="title">Colegio 1</a>
							</h6>
						</div>
					</article>
					<article class="slider__item box box--overlay">
						<figure class="box__figure">
							<img src="http://unsplash.it/600/600?gravity=east" class="cover-img " alt="title" />
						</figure>
						<div class="box__body">
							<a href="#" class="ghost-link"></a>
							<h6 class="box__title">
								<a href="#" title="title">Colegio 1</a>
							</h6>
						</div>
					</article>

				</div>
				<div class="slider__slide" data-role="slider-slide">

					<article class="slider__item box box--overlay">
						<figure class="slider__figure">
							<img src="http://unsplash.it/600/600?gravity=west" class="cover-img" alt="title" />
						</figure>
					</article>
					<article class="slider__item">
						<figure class="slider__figure">
							<img src="http://unsplash.it/600/600?gravity=east" class="cover-img" alt="title" />
						</figure>
					</article>
					<article class="slider__item">
						<figure class="slider__figure">
							<img src="http://unsplash.it/600/600?gravity=north" class="cover-img" alt="title" />
						</figure>
					</article>
					<article class="slider__item">
						<figure class="slider__figure">
							<img src="http://unsplash.it/600/600?gravity=center" class="cover-img" alt="title" />
						</figure>
					</article>

				</div>

			</div>
			<div class="slider__arrows">
				<button class="slider__arrow slider__arrow--prev" data-role="slider-arrow" data-direction="prev"></button>
				<button class="slider__arrow slider__arrow--next" data-role="slider-arrow" data-direction="next"></button>
			</div>
		</div>
	</div>
</section>